[Desktop Entry]
Name=gcaff
GenericName=Signing Assistant
Comment=Graphical OpenPGP key signing assistant
Exec=gcaff
Terminal=false
Type=Application
Categories=Network;Email;
